  .chat {
    padding: 10px 0 5px;
  }

  .chat-button {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #ffdd57;
    border: none;
    border-radius: 5px;
    padding: 3px;
    outline: none;
    cursor: pointer;
  }

  .chat-button:hover {
    background-color: #141414;
    color: white;
  }

  .player {
    padding: 60px 0 10px;
    align-self: center;
  }

  .radio-container {
    display: none;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .radio-container {
      display: none;
      flex-direction: column;
      padding: 60px 0;
    }
    .chat-embed-boder {
      width: 100vw;
      height: 100%;
      padding: 0;
    }
    .chat {
      display: none;
      /* height: 40vh;
      width: 100vw;
      padding: 10px 0;
      padding-right: 20px; */
    }
    .chat-button {
      display: none;
    }
  }