.list-container {
  min-height: 100vh;
  padding: 0.5em 1.5em 1.5em;
  margin: auto;
}

.form {
  margin-top: 80px;
  text-align: center;
}

.search-input {
  text-align: center;
  border: 2px solid;
  padding: 8px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.card-container {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .search-input {
    text-align: center;
    margin-left: 17px;
  }
}