.flyers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-flyer {
  width: 400px;
  height: 220px;
  margin: 20px;
  object-fit: fill;
}

.profile-pic {
  display: block;
  min-width: 320px;
  max-width: 320px;
  max-height: 320px;
  margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 930px) {
  .info-pic-container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2px;
  }
  .events {
    display: flex;
    flex-direction: column;
  }
  .event-flyer {
    max-width: 85vw;
    max-height: 240px;
    margin: 10px auto;
  }
  .profile-pic {
    display: block;
    margin: auto;
    /* width: 80%; */
    /* max-width: 50%; */
    /* padding: 30px 0px */
    /* height: auto; */
  }
}